SECRET_KEY=django-insecure-_zv%uh7q%(&be4=v$&pk+qt7%z@z0l0ubypzj3(y9y0pp=fu03
DEBUG=True

NAME=dbname
USER=dbuser
PASSWORD=dbpassword
HOST=localhost
PORT=5432

DEFAULT_FROM_EMAIL=noreply@skystore.local

PER_PAGE=4

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1
