SECRET_KEY=django-insecure-_zv%uh7q%(&be4=v$&pk+qt7%z@z0l0ubypzj3(y9y0pp=fu03
DEBUG=True

APP_NAME=Company Project
SESSION_COOKIE_NAME=company_project_sessionid

DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_PORT=5432

DEFAULT_FROM_EMAIL=noreply@skystore.local

PAGE_SIZE=20

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1

STRIPE_SECRET_KEY=stripe_secret_key
