SECRET_KEY=django-insecure-_zv%uh7q%(&be4=v$&pk+qt7%z@z0l0ubypzj3(y9y0pp=fu03
DEBUG=True

APP_NAME=Company Project
SESSION_COOKIE_NAME=company_project_sessionid

DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=localhost
DB_PORT=5432

PAGE_SIZE=20

CACHE_ENABLED=True
CACHE_TTL=900
REDIS_LOCATION=redis://127.0.0.1:6379/1

# Redis & Celery
REDIS_HOST=localhost
REDIS_PORT=6379
CELERY_BROKER_URL=redis://${REDIS_HOST}:${REDIS_PORT}/0
CELERY_RESULT_BACKEND=redis://${REDIS_HOST}:${REDIS_PORT}/0

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com

# Stripe
STRIPE_SECRET_KEY=stripe_secret_key
